@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav nav-pills flex-column account-nav-list">
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">
            <i class="fa-solid fa-id-card"></i>
            <span>Profil</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">
            <i class="fa-solid fa-key"></i>
            <span>Zmień hasło</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link @ManageNavPages.StreamingPlatformsClass(ViewContext)" id="streaming-platforms" asp-page="./StreamingPlatforms">
            <i class="fa-solid fa-tv"></i>
            <span>Platformy streamingowe</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">
            <i class="fa-solid fa-shield-halved"></i>
            <span>Dane osobowe</span>
        </a>
    </li>
</ul>
