@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Dane osobowe";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-7">
        <p>Twoje konto zawiera dane osobowe, które nam przekazałeś.</p>
        <p>
            <strong>Usunięcie tych danych spowoduje trwałe usunięcie Twojego konta, którego nie będzie można odzyskać.</strong>
        </p>

        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-lg btn-danger">Usuń</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
