<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MovieMatch</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MovieMatch.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 main-nav">
            <div class="container">
                <a class="navbar-brand logo-text" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="fa-solid fa-clapperboard"></i> MovieMatch
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link custom-nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                                <i class="fa-solid fa-house"></i> Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link custom-nav-link" asp-controller="Search" asp-action="Index">
                                <i class="fa-solid fa-magnifying-glass"></i> Wyszukiwarka
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link custom-nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">
                                <i class="fa-solid fa-circle-info"></i> O programie
                            </a>
                        </li>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li id="myList" class="nav-item dropdown mylist-dropdown">
                                <a class="nav-link dropdown-toggle custom-nav-link" href="#" id="myListToggle"
                                   role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-heart"></i> Moja lista
                                </a>

                                <ul class="dropdown-menu border-0 shadow" aria-labelledby="myListToggle">
                                    <li>
                                        <a class="dropdown-item" href="@Url.Action("MyList", "Search")#favorites">
                                            <i class="fa-solid fa-star"></i> Ulubione
                                        </a>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        <a class="dropdown-item" href="@Url.Action("MyList", "Search")#watchLater">
                                            <i class="fa-regular fa-clock"></i> Do obejrzenia
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                    </ul>

                    <partial name="_LoginPartial" />

                </div>
            </div>
        </nav>
    </header>

    <div class="container mb-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted mt-auto">
        <div class="container text-center">
            &copy; 2025 - <strong>MovieMatch</strong> - <a asp-area="" asp-controller="Home" asp-action="Privacy">O programie</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
