@using Microsoft.AspNetCore.Identity
@using MovieMatch.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        // Pobieramy usera, żeby wyświetlić Nick
        var user = await UserManager.GetUserAsync(User);
        var displayName = user?.Nick ?? User.Identity?.Name;

        <li class="nav-item">
            <a class="nav-link custom-nav-link text-dark d-flex align-items-center" asp-area="Identity" asp-page="/Account/Manage/Index" title="Zarządzaj kontem">
                <i class="fa-solid fa-user-circle"></i><span>Witaj, <strong>@displayName!</strong></span>
            </a>
        </li>

        <li class="nav-item">
            <form class="d-flex align-items-center m-0" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post">
                <button type="submit" class="nav-link custom-nav-link text-dark d-flex align-items-center border-0 bg-transparent">
                    <i class="fa-solid fa-right-from-bracket"></i> <span>Wyloguj się</span>
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link custom-nav-link btn-login" asp-area="Identity" asp-page="/Account/Login">
                <i class="fa-solid fa-right-to-bracket"></i> Zaloguj się
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link custom-nav-link btn-register" asp-area="Identity" asp-page="/Account/Register">
                <i class="fa-solid fa-user-plus"></i> Zarejestruj się
            </a>
        </li>
    }
</ul>
